/vendor/
/node_modules/
/public/storage
/public/hot
/storage/*.key
/public/payment-proofs
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/.fleet
/.phpunit.cache
